.bang , tr, th{
    border: 10px solid #444;
    border-collapse: collapse;
    
}

@media screen and (max-width: 1024px) {
    th:active{
        background-color: rgb(49, 201, 82);
    }
}
@media screen and (min-width: 1024px){
    body{
        background-color: rgb(191, 77, 77);
        color: rgb(66, 27, 158);
        padding: 10px;
    }
}
tr, th {
    background-color: yellow;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

th:active{
    background-color: brown;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked + label {
    background-color: red;
    border-radius: 6px;
}
label {
    display: block;
    width: 100%;
    height: 100%;
}
.trang{
    display : flex ;
    z-index: 100;
}
.nen{
    background-image: url(anh/background1.png);

}
.logo{
    transform: translate(75% , -10%);
    z-index: 100;

}
*{

    margin: 0;
    padding : 0;
    box-sizing: border-box;
}
.thanh{
    width: 100%;
    height: 120px;
    background-color: #333;
    transform: translate(0,-240px);
    z-index: -1;
}
.menu{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    transform: translate(0, -20%);
    z-index: 100;
    height: 200px;
}
  
ol{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    list-style: none;
    
}
.menu-item{
    padding: 1em.5em ;

    background: #444;
    position: relative;
    border-bottom: 5px solid #999;
    margin: 0 .1em;
    transition: border-bottom .23s ease-in-out, background .23s linear;
    cursor: pointer;
    min-width: 8em;
    text-align: center;
    &[aria-haspopup="true"]{
        border-bottom-color: #fc9b1b;
    }
    &:hover, &:focus-within{
    
        border-bottom-color: #91d36b;
        background: #333;
    }
}

.sub-menu, .sub-menu:hover{
    visibility: visible;
    opacity: 1;
    display: flex;
}
          
.sub-menu{

    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0;
    margin-top: 1em;
    visibility: hidden;
    display: none;
    opacity: 0;
}

  .menu-item{

      margin: .1em 0;
      padding: 1em;
      width: 10em;
      text-align: center;
      z-index: 2;
  }
 
  
a{

    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    &:focus{
        outline: none;
    }
}
    
@media (max-width: 690px){

    .menu{

        width: 95%;
        font-size: 16px;
    }
    .menu-item{
        
        margin: .1em;
        &:nth-child(1){

            order: 0;
        }
        &:nth-child(2){

            order: 1
        }
        &:nth-child(3){

            order: 3
        }
        &:nth-child(4){

            order: 4
        }
        &:nth-child(5)
        {

            order: 2
        }
    }
   
}
@media (max-width: 480px){
    
    .menu{
  
        font-size: 12px;
    }
}
.lichchieu{
    background-color: #565656;
    transform: translate(0, -100px);
    height: 70px;
    text-align: center;
    font-size: 40px;
    
    
}
.hinh2{
    
    width: 1687px;
    height: 250px;
}
.combo{
    
    height: 500px;
    transform: translate(0, -150px);
}
.chulichchieu{
    color: #ffff00;
    font-family:'Times New Roman', Times, serif;
    
}
p{
    transform: translate(0 , 10px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tenphimvang1{
    padding-top: 40px;
    margin-left: 50px;
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tenphimtrang1{
    margin-bottom: 50px;
    color: white;
    margin-left: 50px;
}
.giuachinh{

}
.tong{
    background-color: #444;
    width: 1200px;
    margin: auto;
    transform: translate(0px,-90px);
}
body{
    margin: 0;
    padding: 0;
}
.chuaanhphimvsnd1{
    display: flex;
    gap: 60px;
    margin-left: 50px;

}

.thoiluongvstheloai1{
    display: flex;
    gap: 40px;
    color:#ffff00;
    margin: 10px 10px 20px 10px;
}
.daodienvsdv1{
    display: flex;
    gap: 104px;
    color: white;
    margin: 10px 10px 20px 10px;

}
.ngonnguvsphathanh1{
    display: flex;
    gap: 40px;
    color:white ;
    margin: 10px 10px 20px 10px;
}
.thoigian{
    display: flex;
    gap: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 10px 20px 10px;
}
li {
    list-style-type: none;
    border: solid yellow 2px;
    padding: 5px; 
    background-color: yellow;   
}
.anhphim1{
    width: 220px;
    height: 350px;
}
.rap1{
    color: yellow;
    margin: 10px 10px 10px 10px;
}
.rap2{
    color: white;
    margin: 10px 10px 10px 10px;
}

.d-play{
    display: flex;
    

}
.input-long{
    width: 200px;
}
.thongtin{
    width: 250px;
    
}
.tt{
    color:#fff;
    
}
.tt1{
    width: 200px;
    background-color: #333;
    color: #fff;
    border-radius: 50px;
    
}
.tt2{
    color:#fff;
    border-radius: 50px;
    background-color:#333 ;
    width: 200px;
}
.tt3{
    margin-top: 10px;
}
.hinh{
    width: 400px;
    height: 200px;
    display: flex;
   
    
}
.tong2{
    display: flex;
}
.chu1{
    
    width: 345px;
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50px;
    color: yellow;
}
.chu2{
    color:#fff;
    padding-top:20px;
    height:100px ;
   
    
}
.cc{
    margin-bottom: 10px;
}
.tong1{
    display: flex;
    height:200px;
}
.chu3{
    width: 100px;
    height: 100px;
     box-sizing: border-box;
}

.swiper {
    width: 1200px;
    height: 100%;
    border-bottom: solid yellow;
}

.rr2{
    padding: 10px 20px;
    background-color: #91d36b;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    transform: translate(0, 10px);
    
    
}
.rr3{
    transform: translate(0, 100px);
}
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }